body{
  background-color: antiquewhite !important;
}

.takeda-mi-chatbot-container {
  display: none;
  z-index: 9;
}
.takeda-mi-chatbot-header {
  background: #da5283 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000004d;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
  color: #ffff;
  text-align: left;
  outline: none;
  border: 3px solid white;
  border: none;
}
.takeda-mi-chatbot-close-block {
  text-align: right !important;
}
.takeda-mi-chatbot-chat-container {
  width: 100%;
}
.takeda-mi-chatbot-chat-text {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-family: "Open Sans";
  font-size: 20px;
}
.takeda-mi-chatbot-close-block {
  font-size: 30px;
  cursor: pointer;
}

.takeda-mi-chatbot-chat-block {
  background: #eeeeee;
  opacity: 1;
}

/** Done **/
.botui-container {
  max-height: 60vh;
  height: 60vh !important;
  background: #eeeeee !important;
  opacity: 1;
}

.takeda-mi-chatbot-user-input-block {
  background-color: #ffff;
  display: block;
  height: 8vh;
}

.takeda-mi-chatbot-user-input {
  width: 100%;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0px;
  border: none;
}

.takeda-mi-chatbot-user-input-block > input:focus {
  outline: none;
}

.takeda-mi-chatbot-user-input:focus {
  outline: none !important;
}

.takeda-mi-chatbot-email-error {
  color: red;
  font-size: 12px;
}

.takeda-mi-chatbot-img-msg {
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  left: -18px !important;
}

.takeda-mi-chatbot-img-msg > div > div {
  background-color: unset !important;
}

.takeda-mi-chatbot-img-msg > .loading {
  margin: 5px !important;
}

.takeda-mi-chatbot-bot-msg {
  margin: 0 !important;
}

.takeda-mi-chatbot-bot-msg > div > div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #0000001a;
  border-radius: 0px 12px 12px 12px;
  opacity: 1;
}

.takeda-mi-chatbot-bot-msg > div > div > span {
  text-align: left !important;
  letter-spacing: 0px !important;
  color: #252529 !important;
  opacity: 1 !important;
  font-family: "Open Sans" !important;
  font-size: 14px;
}

.takeda-mi-chatbot-hcp {
  padding: 10px 10px 10px 0px;
}

.takeda-mi-chatbot-btn-cls {
  background: #da5283 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: right;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border: none;
  font-size: 14px;
  padding: 9px 18px;
  text-align: center;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  outline: none !important;
}

.takeda-mi-chatbot-cursor {
  cursor: none;
}

.takeda-mi-chatbot-icon-delay {
  /* position: relative;
  bottom: 5px; */
}

.takeda-mi-chatbot-you {
  text-align: right;
  letter-spacing: 0px;
  color: #0b0b0b;
  opacity: 1;
  font-size: 12px;
  margin: 0%;
}

.takeda-mi-chatbot-human-msg {
  background: #da5283 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #0000001a;
  border-radius: 12px 0px 12px 12px;
  opacity: 1;
  padding: 10px 20px;
}

.takeda-mi-chatbot-human-text {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 14px;
  word-break: break-word;
}

.takeda-mi-chatbot-med-info-link {
  color: #da5283;
}


.takeda-mi-chatbot-agent {
  text-align: left;
  letter-spacing: 0px;
  color: #0b0b0b;
  opacity: 1;
  font-size: 12px;
  margin: 0px;
}

.takeda-mi-chatbot-agent-div {
  position: relative;
  top: 10px;
}

.takeda-mi-chatbot-agent-name {
  padding: 0px;
  margin: 0px !important;
}

.takeda-mi-chatbot-agent-name > div > div {
  background: none;
  margin: 0;
  padding: 0px;
}

.takeda-mi-chatbot-chat-outside-icon {
  cursor: pointer;
  text-align: center;
  margin: 6rem !important;
}

/*** Bot UI Specific class***/
.human {
  background-color: #eeeeee !important;
}

.dot {
  background-color: #da5283 !important;
}

.loading {
  background-color: #ffffff !important;
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
  .takeda-mi-chatbot-container {
    width: 30% !important;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .takeda-mi-chatbot-container {
    width: 40%;
  }
}